<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微信新闻</title>
    <link href="/static/layui/css/layui.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <script src="/static/layui/layui.js"></script>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <ul class="layui-nav">
            <li class="layui-nav-item {{if .Request_url}}{{if eq "/" .Request_url}}layui-this{{end}}{{end}}" >
                <a href="">资讯</a>
            </li>
            {{/*<li class="layui-nav-item layui-this">*/}}
                {{/*<a href="javascript:;">产品</a>*/}}
                {{/*<dl class="layui-nav-child">*/}}
                    {{/*<dd><a href="">选项1</a></dd>*/}}
                    {{/*<dd><a href="">选项2</a></dd>*/}}
                    {{/*<dd><a href="">选项3</a></dd>*/}}
                {{/*</dl>*/}}
            {{/*</li>*/}}
            <li class="layui-nav-item"><a href="">快讯</a></li>
            <li class="layui-nav-item"><a href="/">行情</a></li>
            <li class="layui-nav-item position">
                <input  type="text" placeholder="输入关键词 按enter搜索" value="" class="layui-input" style="margin-top: 10px;width: 182px;"><i id="searchicon" class="layui-icon search">&#xe615;</i>
            </li>
            <li class="layui-nav-item">

            </li>
        </ul>
        <ul class="layui-nav fly-nav-user">
            <li class="layui-nav-item">
                <a id="login">登入</a>
            </li>
            <li class="layui-nav-item">
                <a id="register">注册</a>
            </li>
            <span class="layui-nav-bar"></span>
        </ul>
    </div>
</div>