<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微信新闻</title>
    <link href="/static/layui/css/layui.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <script src="/static/layui/layui.js"></script>
</head>
<body>
<div class="layui-nav layui-bg-black">
    <div class="layui-container">
        <ul >
            <li class="layui-nav-item">
                <a href="">分类1</a>
            </li>
            <li class="layui-nav-item">
                <a href="">分类2</a>
            </li>
            <li class="layui-nav-item">
                <a href="">分类3</a>
            </li>
            <li class="layui-nav-item">
                <input type="text" placeholder="搜索你想看的主题" value="" class="layui-input">
            </li>
            <li class="layui-nav-item">
                <i class="layui-icon">&#xe615;</i>
            </li>
        </ul>
        <ul class="layui-nav fly-nav-user">
            <li class="layui-nav-item">
                <a href="/user/login/">登入</a>
            </li>
            <li class="layui-nav-item">
                <a href="/user/reg/">注册</a>
            </li>
            <span class="layui-nav-bar"></span>
        </ul>
    </div>
</div>