{{template "base.html" .}}
<div class="content" style="margin-top: 45px;">
    <div class="layui-container">
        <div class="layui-row layui-col-space10" style="margin-top: 45px;">
            <div class="layui-col-md9 ">
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title">
                        <li class="layui-this"><a>微信</a></li>
                        <li><a>公众号</a></li>
                        <li>社群</li>
                        <li>社群运营</li>
                        <li>社群营销</li>
                        <li>微信营销 </li>
                        <li>社会化营销</li>
                        <li>网络营销</li>
                    </ul>
                    <div class="layui-tab-content" >
                        <!--新闻列表-->

                        <div class="layui-tab-item layui-show" >
                            <div id="newslist_left">
                                <div class="layui-row  layui-col-space10 site-demo-flow">
                                    <div class="layui-col-md3">
                                        <img src="https://gw.alicdn.com/bao/uploaded/i2/162734861/TB2V5rsX_gc61BjSZFkXXcTkFXa_!!162734861.jpg_400x400q90.jpg?t=1518395023940">
                                    </div>
                                    <div class="layui-col-md9" id="news_item_all_style">
                                        <div class="new_home_list">
                                            <a class="news_title">中国证监会：3月26日启动原油期货挂牌交易</a>
                                            <br>
                                            <a class="news_abstract">1992年，我国就推出原油、成品油的期货交易，但上市不久就关闭了交易。未来“上海油”，有望与现有的纽约、伦敦两地基准油价，共同组成全球24小时的连续交易机制.</a>
                                            <div class="bottom_refer_and_icon">
                                                <div class="left">
                                                    <i class="layui-icon">&#xe6c6;</i> <span>赞</span>
                                                </div>
                                                <div class="right">
                                                    <i class="layui-icon"> &#xe60e;</i><span>30分钟前</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <ul class="flow-default" id="LAY_demo1"></ul>
                            <!--新闻列表-->
                        </div>




                        <div class="layui-tab-item">
                            <div class="fly-panel">
                                <ul class="hot-list" data-v-5ee82df8="" id="news_list_little">
                                    <li class="hot-article" data-v-5ee82df8="">
                                        <div class="hot-article__title" data-v-5ee82df8="">
                                            <div class="hot-article__title__idx first" data-v-5ee82df8="">1</div>
                                            <a target="_blank" href="/articles/3232975" class="hot-article__title__text" data-v-5ee82df8="">中国证监会：3月26日启动原油期货挂牌交易</a>
                                        </div> <!---->
                                    </li>
                                    <li class="hot-article" data-v-5ee82df8="">
                                        <div class="hot-article__title" data-v-5ee82df8="">
                                            <div class="hot-article__title__idx second" data-v-5ee82df8="">2</div>
                                            <a target="_blank" href="/articles/3232923" class="hot-article__title__text" data-v-5ee82df8="">暴跌的基因：从股灾到股殇</a>
                                        </div> <!---->
                                    </li>
                                    <li class="hot-article" data-v-5ee82df8="">
                                        <div class="hot-article__title" data-v-5ee82df8="">
                                            <div class="hot-article__title__idx third" data-v-5ee82df8="">3</div>
                                            <a target="_blank" href="/articles/3232923" class="hot-article__title__text" data-v-5ee82df8="">美股再度震荡 道指盘中跌超300点 盘初曾涨近350点</a>
                                        </div> <!---->
                                    </li>
                                </ul>
                                <ul class="flow-default" id="LAY_demo2"></ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="layui-col-md3 ">
                <div class="fly-panel">
                    <h3 class="fly-panel-title">温馨通道</h3>
                    <ul class="fly-panel-main fly-list-static">
                        <li>
                            <a href="http://fly.layui.com/jie/4281/" target="_blank">layui 的 GitHub 及 Gitee (码云) 仓库，欢迎Star</a>
                        </li>
                        <li>
                            <a href="http://fly.layui.com/jie/5366/" target="_blank"> layui 常见问题的处理和实用干货集锦 </a>
                        </li>
                        <li>
                            <a href="http://fly.layui.com/jie/13435/" target="_blank"> 关于Fly社区飞吻的消耗与增加 </a>
                        </li>
                        <li>
                            <a name="signin"></a> <a href="http://fly.layui.com/jie/19804/" target="_blank"> 《layui从鱼到渔》系列教程 </a>
                        </li>
                        <li>
                            <a href="http://www.layui.com/template/fly/" target="_blank">下载“Fly社区”页面模板：Fly Template</a>
                        </li>
                    </ul>
                </div>
                <div class="fly-panel">
                    <div class="fly-panel-title"> 钻级赞助商 <span class="fly-mid"></span>
                        <a href="/jie/15697/" class="fly-link fly-joinad    ">我要加入</a>
                    </div>
                    <div class="fly-panel-main" style="padding: 13px 15px;">
                        <a href="/jie/15697/" target="_blank" rel="nofollow" class="fly-zanzhu" style="background-color: #393D49;">虚席以待</a>
                    </div>
                </div>
                <div class="fly-panel" style="padding: 20px 0; text-align: center;">
                    <div class="fly-panel-main">
                        <img src="/static/images/gongzhonghao.jpg" style="max-width: 100%;" alt="layui">
                        <p style="position: relative; color: #666;">微信扫码关注 layui 公众号</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="left_fixed">
        <ul>
            <li><i class="layui-icon" style="font-size: 24px;">&#xe68e;</i> </li>
            <li><i class="layui-icon" style="font-size: 24px;">&#xe6c6;</i> </li>
            <li><i class="layui-icon" style="font-size: 24px;">&#xe619;</i> </li>
        </ul>
    </div>
</div>

{{template "foot.html"}}