
{{template "base.html"}}
<br>
<div class="layui-container">
    <div class="layui-row layui-col-space10" >
        <div class="layui-col-md9 ">
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this">最新文章</li>
                    <li>最热文章</li>
                </ul>
                <div class="layui-tab-content" >
                    <div class="layui-tab-item layui-show">
                        <div data-v-6ef8682e="">
                            <div class="home-news-item" data-v-6ef8682e="">
                                <a target="_blank" href="/articles/3233191" class="home-news-item__cover">
                                    <div class="wscn-lazyload lazy">
                                        <img style="" src="https://wpimg.wallstcn.com/4a31d2e0-2db6-43a5-b143-ecec9ef56ef0.jpg?imageView2/1/w/190/h/190" class="">
                                    </div>
                                </a>
                                <div class="home-news-item__main">
                                    <a target="_blank" href="/articles/3233191" class="home-news-item__main__title">原油期货重启倒计时 “上海油”竞争亚太定价基准</a>
                                    <a target="_blank" href="/articles/3233191" class="home-news-item__main__summary">1992年，我国就推出原油、成品油的期货交易，但上市不久就关闭了交易。未来“上海油”，有望与现有的纽约、伦敦两地基准油价，共同组成全球24小时的连续交易机制。</a>
                                    <div class="home-news-item__main__meta">
                                        <div class="home-news-item__main__meta__left">
                                            <div class="left-item">
                                                <a target="_blank" href="/authors/834515" class="wscn-avatar avatar" style="width:20px;height:20px;" data-v-779bf8ca="">
                                                    <img src="https://wpimg.wallstcn.com/ivanka_avatar_4.png?imageView2/1/w/60/h/60" class="wscn-avatar__img" data-v-779bf8ca="">
                                                </a>
                                                <a target="_blank" href="/authors/834515" class="display-name">新华社</a>
                                            </div> <!----> <!---->
                                            <div class="left-item">
                                                <svg width="1em" height="1em" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
                                                    <path d="M512 0C229.232 0 0 229.232 0 512s229.232 512 512 512 512-229.232 512-512S794.768 0 512 0zm0 960C264.976 960 64 759.024 64 512S264.976 64 512 64s448 200.976 448 448-200.976 448-448 448zm246.72-346.496L531.888 510.4V225.872c0-17.68-14.336-32-32-32s-32 14.32-32 32v305.12a31.944 31.944 0 0 0 18.768 29.12l245.6 111.632a31.577 31.577 0 0 0 13.216 2.88c12.16 0 23.776-6.976 29.136-18.752 7.312-16.096.208-35.056-15.888-42.368z"></path></svg>
                                                <span class="text">30分钟前</span>
                                            </div>
                                        </div>
                                        <div class="home-news-item__main__meta__right"><!----> <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6ef8682e="">
                            <div class="home-news-item" data-v-6ef8682e="">
                                <a target="_blank" href="/articles/3233191" class="home-news-item__cover">
                                    <div class="wscn-lazyload lazy">
                                        <img style="" src="https://wpimg.wallstcn.com/4a31d2e0-2db6-43a5-b143-ecec9ef56ef0.jpg?imageView2/1/w/190/h/190" class="">
                                    </div>
                                </a>
                                <div class="home-news-item__main">
                                    <a target="_blank" href="/articles/3233191" class="home-news-item__main__title">原油期货重启倒计时 “上海油”竞争亚太定价基准</a>
                                    <a target="_blank" href="/articles/3233191" class="home-news-item__main__summary">1992年，我国就推出原油、成品油的期货交易，但上市不久就关闭了交易。未来“上海油”，有望与现有的纽约、伦敦两地基准油价，共同组成全球24小时的连续交易机制。</a>
                                    <div class="home-news-item__main__meta">
                                        <div class="home-news-item__main__meta__left">
                                            <div class="left-item">
                                                <a target="_blank" href="/authors/834515" class="wscn-avatar avatar" style="width:20px;height:20px;" data-v-779bf8ca="">
                                                    <img src="https://wpimg.wallstcn.com/ivanka_avatar_4.png?imageView2/1/w/60/h/60" class="wscn-avatar__img" data-v-779bf8ca="">
                                                </a>
                                                <a target="_blank" href="/authors/834515" class="display-name">新华社</a>
                                            </div> <!----> <!---->
                                            <div class="left-item">
                                                <svg width="1em" height="1em" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
                                                    <path d="M512 0C229.232 0 0 229.232 0 512s229.232 512 512 512 512-229.232 512-512S794.768 0 512 0zm0 960C264.976 960 64 759.024 64 512S264.976 64 512 64s448 200.976 448 448-200.976 448-448 448zm246.72-346.496L531.888 510.4V225.872c0-17.68-14.336-32-32-32s-32 14.32-32 32v305.12a31.944 31.944 0 0 0 18.768 29.12l245.6 111.632a31.577 31.577 0 0 0 13.216 2.88c12.16 0 23.776-6.976 29.136-18.752 7.312-16.096.208-35.056-15.888-42.368z"></path></svg>
                                                <span class="text">30分钟前</span>
                                            </div>
                                        </div>
                                        <div class="home-news-item__main__meta__right"><!----> <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6ef8682e="">
                            <div class="home-news-item" data-v-6ef8682e="">
                                <a target="_blank" href="/articles/3233191" class="home-news-item__cover">
                                    <div class="wscn-lazyload lazy">
                                        <img style="" src="https://wpimg.wallstcn.com/4a31d2e0-2db6-43a5-b143-ecec9ef56ef0.jpg?imageView2/1/w/190/h/190" class="">
                                    </div>
                                </a>
                                <div class="home-news-item__main">
                                    <a target="_blank" href="/articles/3233191" class="home-news-item__main__title">原油期货重启倒计时 “上海油”竞争亚太定价基准</a>
                                    <a target="_blank" href="/articles/3233191" class="home-news-item__main__summary">1992年，我国就推出原油、成品油的期货交易，但上市不久就关闭了交易。未来“上海油”，有望与现有的纽约、伦敦两地基准油价，共同组成全球24小时的连续交易机制。</a>
                                    <div class="home-news-item__main__meta">
                                        <div class="home-news-item__main__meta__left">
                                            <div class="left-item">
                                                <a target="_blank" href="/authors/834515" class="wscn-avatar avatar" style="width:20px;height:20px;" data-v-779bf8ca="">
                                                    <img src="https://wpimg.wallstcn.com/ivanka_avatar_4.png?imageView2/1/w/60/h/60" class="wscn-avatar__img" data-v-779bf8ca="">
                                                </a>
                                                <a target="_blank" href="/authors/834515" class="display-name">新华社</a>
                                            </div> <!----> <!---->
                                            <div class="left-item">
                                                <svg width="1em" height="1em" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
                                                    <path d="M512 0C229.232 0 0 229.232 0 512s229.232 512 512 512 512-229.232 512-512S794.768 0 512 0zm0 960C264.976 960 64 759.024 64 512S264.976 64 512 64s448 200.976 448 448-200.976 448-448 448zm246.72-346.496L531.888 510.4V225.872c0-17.68-14.336-32-32-32s-32 14.32-32 32v305.12a31.944 31.944 0 0 0 18.768 29.12l245.6 111.632a31.577 31.577 0 0 0 13.216 2.88c12.16 0 23.776-6.976 29.136-18.752 7.312-16.096.208-35.056-15.888-42.368z"></path></svg>
                                                <span class="text">30分钟前</span>
                                            </div>
                                        </div>
                                        <div class="home-news-item__main__meta__right"><!----> <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6ef8682e="">
                            <div class="home-news-item" data-v-6ef8682e="">
                                <a target="_blank" href="/articles/3233191" class="home-news-item__cover">
                                    <div class="wscn-lazyload lazy">
                                        <img style="" src="https://wpimg.wallstcn.com/4a31d2e0-2db6-43a5-b143-ecec9ef56ef0.jpg?imageView2/1/w/190/h/190" class="">
                                    </div>
                                </a>
                                <div class="home-news-item__main">
                                    <a target="_blank" href="/articles/3233191" class="home-news-item__main__title">原油期货重启倒计时 “上海油”竞争亚太定价基准</a>
                                    <a target="_blank" href="/articles/3233191" class="home-news-item__main__summary">1992年，我国就推出原油、成品油的期货交易，但上市不久就关闭了交易。未来“上海油”，有望与现有的纽约、伦敦两地基准油价，共同组成全球24小时的连续交易机制。</a>
                                    <div class="home-news-item__main__meta">
                                        <div class="home-news-item__main__meta__left">
                                            <div class="left-item">
                                                <a target="_blank" href="/authors/834515" class="wscn-avatar avatar" style="width:20px;height:20px;" data-v-779bf8ca="">
                                                    <img src="https://wpimg.wallstcn.com/ivanka_avatar_4.png?imageView2/1/w/60/h/60" class="wscn-avatar__img" data-v-779bf8ca="">
                                                </a>
                                                <a target="_blank" href="/authors/834515" class="display-name">新华社</a>
                                            </div> <!----> <!---->
                                            <div class="left-item">
                                                <svg width="1em" height="1em" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
                                                    <path d="M512 0C229.232 0 0 229.232 0 512s229.232 512 512 512 512-229.232 512-512S794.768 0 512 0zm0 960C264.976 960 64 759.024 64 512S264.976 64 512 64s448 200.976 448 448-200.976 448-448 448zm246.72-346.496L531.888 510.4V225.872c0-17.68-14.336-32-32-32s-32 14.32-32 32v305.12a31.944 31.944 0 0 0 18.768 29.12l245.6 111.632a31.577 31.577 0 0 0 13.216 2.88c12.16 0 23.776-6.976 29.136-18.752 7.312-16.096.208-35.056-15.888-42.368z"></path></svg>
                                                <span class="text">30分钟前</span>
                                            </div>
                                        </div>
                                        <div class="home-news-item__main__meta__right"><!----> <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6ef8682e="">
                            <div class="home-news-item" data-v-6ef8682e="">
                                <a target="_blank" href="/articles/3233191" class="home-news-item__cover">
                                    <div class="wscn-lazyload lazy">
                                        <img style="" src="https://wpimg.wallstcn.com/4a31d2e0-2db6-43a5-b143-ecec9ef56ef0.jpg?imageView2/1/w/190/h/190" class="">
                                    </div>
                                </a>
                                <div class="home-news-item__main">
                                    <a target="_blank" href="/articles/3233191" class="home-news-item__main__title">原油期货重启倒计时 “上海油”竞争亚太定价基准</a>
                                    <a target="_blank" href="/articles/3233191" class="home-news-item__main__summary">1992年，我国就推出原油、成品油的期货交易，但上市不久就关闭了交易。未来“上海油”，有望与现有的纽约、伦敦两地基准油价，共同组成全球24小时的连续交易机制。</a>
                                    <div class="home-news-item__main__meta">
                                        <div class="home-news-item__main__meta__left">
                                            <div class="left-item">
                                                <a target="_blank" href="/authors/834515" class="wscn-avatar avatar" style="width:20px;height:20px;" data-v-779bf8ca="">
                                                    <img src="https://wpimg.wallstcn.com/ivanka_avatar_4.png?imageView2/1/w/60/h/60" class="wscn-avatar__img" data-v-779bf8ca="">
                                                </a>
                                                <a target="_blank" href="/authors/834515" class="display-name">新华社</a>
                                            </div> <!----> <!---->
                                            <div class="left-item">
                                                <svg width="1em" height="1em" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
                                                    <path d="M512 0C229.232 0 0 229.232 0 512s229.232 512 512 512 512-229.232 512-512S794.768 0 512 0zm0 960C264.976 960 64 759.024 64 512S264.976 64 512 64s448 200.976 448 448-200.976 448-448 448zm246.72-346.496L531.888 510.4V225.872c0-17.68-14.336-32-32-32s-32 14.32-32 32v305.12a31.944 31.944 0 0 0 18.768 29.12l245.6 111.632a31.577 31.577 0 0 0 13.216 2.88c12.16 0 23.776-6.976 29.136-18.752 7.312-16.096.208-35.056-15.888-42.368z"></path></svg>
                                                <span class="text">30分钟前</span>
                                            </div>
                                        </div>
                                        <div class="home-news-item__main__meta__right"><!----> <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6ef8682e="">
                            <div class="home-news-item" data-v-6ef8682e="">
                                <a target="_blank" href="/articles/3233191" class="home-news-item__cover">
                                    <div class="wscn-lazyload lazy">
                                        <img style="" src="https://wpimg.wallstcn.com/4a31d2e0-2db6-43a5-b143-ecec9ef56ef0.jpg?imageView2/1/w/190/h/190" class="">
                                    </div>
                                </a>
                                <div class="home-news-item__main">
                                    <a target="_blank" href="/articles/3233191" class="home-news-item__main__title">原油期货重启倒计时 “上海油”竞争亚太定价基准</a>
                                    <a target="_blank" href="/articles/3233191" class="home-news-item__main__summary">1992年，我国就推出原油、成品油的期货交易，但上市不久就关闭了交易。未来“上海油”，有望与现有的纽约、伦敦两地基准油价，共同组成全球24小时的连续交易机制。</a>
                                    <div class="home-news-item__main__meta">
                                        <div class="home-news-item__main__meta__left">
                                            <div class="left-item">
                                                <a target="_blank" href="/authors/834515" class="wscn-avatar avatar" style="width:20px;height:20px;" data-v-779bf8ca="">
                                                    <img src="https://wpimg.wallstcn.com/ivanka_avatar_4.png?imageView2/1/w/60/h/60" class="wscn-avatar__img" data-v-779bf8ca="">
                                                </a>
                                                <a target="_blank" href="/authors/834515" class="display-name">新华社</a>
                                            </div> <!----> <!---->
                                            <div class="left-item">
                                                <svg width="1em" height="1em" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
                                                    <path d="M512 0C229.232 0 0 229.232 0 512s229.232 512 512 512 512-229.232 512-512S794.768 0 512 0zm0 960C264.976 960 64 759.024 64 512S264.976 64 512 64s448 200.976 448 448-200.976 448-448 448zm246.72-346.496L531.888 510.4V225.872c0-17.68-14.336-32-32-32s-32 14.32-32 32v305.12a31.944 31.944 0 0 0 18.768 29.12l245.6 111.632a31.577 31.577 0 0 0 13.216 2.88c12.16 0 23.776-6.976 29.136-18.752 7.312-16.096.208-35.056-15.888-42.368z"></path></svg>
                                                <span class="text">30分钟前</span>
                                            </div>
                                        </div>
                                        <div class="home-news-item__main__meta__right"><!----> <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6ef8682e="">
                            <div class="home-news-item" data-v-6ef8682e="">
                                <a target="_blank" href="/articles/3233191" class="home-news-item__cover">
                                    <div class="wscn-lazyload lazy">
                                        <img style="" src="https://wpimg.wallstcn.com/4a31d2e0-2db6-43a5-b143-ecec9ef56ef0.jpg?imageView2/1/w/190/h/190" class="">
                                    </div>
                                </a>
                                <div class="home-news-item__main">
                                    <a target="_blank" href="/articles/3233191" class="home-news-item__main__title">原油期货重启倒计时 “上海油”竞争亚太定价基准</a>
                                    <a target="_blank" href="/articles/3233191" class="home-news-item__main__summary">1992年，我国就推出原油、成品油的期货交易，但上市不久就关闭了交易。未来“上海油”，有望与现有的纽约、伦敦两地基准油价，共同组成全球24小时的连续交易机制。</a>
                                    <div class="home-news-item__main__meta">
                                        <div class="home-news-item__main__meta__left">
                                            <div class="left-item">
                                                <a target="_blank" href="/authors/834515" class="wscn-avatar avatar" style="width:20px;height:20px;" data-v-779bf8ca="">
                                                    <img src="https://wpimg.wallstcn.com/ivanka_avatar_4.png?imageView2/1/w/60/h/60" class="wscn-avatar__img" data-v-779bf8ca="">
                                                </a>
                                                <a target="_blank" href="/authors/834515" class="display-name">新华社</a>
                                            </div> <!----> <!---->
                                            <div class="left-item">
                                                <svg width="1em" height="1em" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
                                                    <path d="M512 0C229.232 0 0 229.232 0 512s229.232 512 512 512 512-229.232 512-512S794.768 0 512 0zm0 960C264.976 960 64 759.024 64 512S264.976 64 512 64s448 200.976 448 448-200.976 448-448 448zm246.72-346.496L531.888 510.4V225.872c0-17.68-14.336-32-32-32s-32 14.32-32 32v305.12a31.944 31.944 0 0 0 18.768 29.12l245.6 111.632a31.577 31.577 0 0 0 13.216 2.88c12.16 0 23.776-6.976 29.136-18.752 7.312-16.096.208-35.056-15.888-42.368z"></path></svg>
                                                <span class="text">30分钟前</span>
                                            </div>
                                        </div>
                                        <div class="home-news-item__main__meta__right"><!----> <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6ef8682e="">
                            <div class="home-news-item" data-v-6ef8682e="">
                                <a target="_blank" href="/articles/3233191" class="home-news-item__cover">
                                    <div class="wscn-lazyload lazy">
                                        <img style="" src="https://wpimg.wallstcn.com/4a31d2e0-2db6-43a5-b143-ecec9ef56ef0.jpg?imageView2/1/w/190/h/190" class="">
                                    </div>
                                </a>
                                <div class="home-news-item__main">
                                    <a target="_blank" href="/articles/3233191" class="home-news-item__main__title">原油期货重启倒计时 “上海油”竞争亚太定价基准</a>
                                    <a target="_blank" href="/articles/3233191" class="home-news-item__main__summary">1992年，我国就推出原油、成品油的期货交易，但上市不久就关闭了交易。未来“上海油”，有望与现有的纽约、伦敦两地基准油价，共同组成全球24小时的连续交易机制。</a>
                                    <div class="home-news-item__main__meta">
                                        <div class="home-news-item__main__meta__left">
                                            <div class="left-item">
                                                <a target="_blank" href="/authors/834515" class="wscn-avatar avatar" style="width:20px;height:20px;" data-v-779bf8ca="">
                                                    <img src="https://wpimg.wallstcn.com/ivanka_avatar_4.png?imageView2/1/w/60/h/60" class="wscn-avatar__img" data-v-779bf8ca="">
                                                </a>
                                                <a target="_blank" href="/authors/834515" class="display-name">新华社</a>
                                            </div> <!----> <!---->
                                            <div class="left-item">
                                                <svg width="1em" height="1em" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
                                                    <path d="M512 0C229.232 0 0 229.232 0 512s229.232 512 512 512 512-229.232 512-512S794.768 0 512 0zm0 960C264.976 960 64 759.024 64 512S264.976 64 512 64s448 200.976 448 448-200.976 448-448 448zm246.72-346.496L531.888 510.4V225.872c0-17.68-14.336-32-32-32s-32 14.32-32 32v305.12a31.944 31.944 0 0 0 18.768 29.12l245.6 111.632a31.577 31.577 0 0 0 13.216 2.88c12.16 0 23.776-6.976 29.136-18.752 7.312-16.096.208-35.056-15.888-42.368z"></path></svg>
                                                <span class="text">30分钟前</span>
                                            </div>
                                        </div>
                                        <div class="home-news-item__main__meta__right"><!----> <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-6ef8682e="">
                            <div class="home-news-item" data-v-6ef8682e="">
                                <a target="_blank" href="/articles/3233191" class="home-news-item__cover">
                                    <div class="wscn-lazyload lazy">
                                        <img style="" src="https://wpimg.wallstcn.com/4a31d2e0-2db6-43a5-b143-ecec9ef56ef0.jpg?imageView2/1/w/190/h/190" class="">
                                    </div>
                                </a>
                                <div class="home-news-item__main">
                                    <a target="_blank" href="/articles/3233191" class="home-news-item__main__title">原油期货重启倒计时 “上海油”竞争亚太定价基准</a>
                                    <a target="_blank" href="/articles/3233191" class="home-news-item__main__summary">1992年，我国就推出原油、成品油的期货交易，但上市不久就关闭了交易。未来“上海油”，有望与现有的纽约、伦敦两地基准油价，共同组成全球24小时的连续交易机制。</a>
                                    <div class="home-news-item__main__meta">
                                        <div class="home-news-item__main__meta__left">
                                            <div class="left-item">
                                                <a target="_blank" href="/authors/834515" class="wscn-avatar avatar" style="width:20px;height:20px;" data-v-779bf8ca="">
                                                    <img src="https://wpimg.wallstcn.com/ivanka_avatar_4.png?imageView2/1/w/60/h/60" class="wscn-avatar__img" data-v-779bf8ca="">
                                                </a>
                                                <a target="_blank" href="/authors/834515" class="display-name">新华社</a>
                                            </div> <!----> <!---->
                                            <div class="left-item">
                                                <svg width="1em" height="1em" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
                                                    <path d="M512 0C229.232 0 0 229.232 0 512s229.232 512 512 512 512-229.232 512-512S794.768 0 512 0zm0 960C264.976 960 64 759.024 64 512S264.976 64 512 64s448 200.976 448 448-200.976 448-448 448zm246.72-346.496L531.888 510.4V225.872c0-17.68-14.336-32-32-32s-32 14.32-32 32v305.12a31.944 31.944 0 0 0 18.768 29.12l245.6 111.632a31.577 31.577 0 0 0 13.216 2.88c12.16 0 23.776-6.976 29.136-18.752 7.312-16.096.208-35.056-15.888-42.368z"></path></svg>
                                                <span class="text">30分钟前</span>
                                            </div>
                                        </div>
                                        <div class="home-news-item__main__meta__right"><!----> <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-tab-item">
                        <div class="fly-panel">
                            <ul class="hot-list" data-v-5ee82df8="">
                                <li class="hot-article" data-v-5ee82df8="">
                                    <div class="hot-article__title" data-v-5ee82df8="">
                                        <div class="hot-article__title__idx first" data-v-5ee82df8="">1</div>
                                        <a target="_blank" href="/articles/3232975" class="hot-article__title__text" data-v-5ee82df8="">中国证监会：3月26日启动原油期货挂牌交易</a>
                                    </div> <!---->
                                </li>
                                <li class="hot-article" data-v-5ee82df8="">
                                    <div class="hot-article__title" data-v-5ee82df8="">
                                        <div class="hot-article__title__idx second" data-v-5ee82df8="">2</div>
                                        <a target="_blank" href="/articles/3232923" class="hot-article__title__text" data-v-5ee82df8="">暴跌的基因：从股灾到股殇</a>
                                    </div> <!---->
                                </li>
                                <li class="hot-article" data-v-5ee82df8="">
                                    <div class="hot-article__title" data-v-5ee82df8="">
                                        <div class="hot-article__title__idx third" data-v-5ee82df8="">3</div>
                                        <a target="_blank" href="/articles/3232923" class="hot-article__title__text" data-v-5ee82df8="">美股再度震荡 道指盘中跌超300点 盘初曾涨近350点</a>
                                    </div> <!---->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="layui-col-md3 ">
            <div class="fly-panel">
                <h3 class="fly-panel-title">温馨通道</h3>
                <ul class="fly-panel-main fly-list-static">
                    <li>
                        <a href="http://fly.layui.com/jie/4281/" target="_blank">layui 的 GitHub 及 Gitee (码云) 仓库，欢迎Star</a>
                    </li>
                    <li>
                        <a href="http://fly.layui.com/jie/5366/" target="_blank"> layui 常见问题的处理和实用干货集锦 </a>
                    </li>
                    <li>
                        <a href="http://fly.layui.com/jie/13435/" target="_blank"> 关于Fly社区飞吻的消耗与增加 </a>
                    </li>
                    <li>
                        <a name="signin"></a> <a href="http://fly.layui.com/jie/19804/" target="_blank"> 《layui从鱼到渔》系列教程 </a>
                    </li>
                    <li>
                        <a href="http://www.layui.com/template/fly/" target="_blank">下载“Fly社区”页面模板：Fly Template</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{template "foot.html"}}
<script src="/static/js/jquery.js"></script>
<script>
    layui.use('element', function(){
        var $ = layui.jquery
                ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        //触发事件
        var active = {
            tabAdd: function(){
                //新增一个Tab项
                element.tabAdd('demo', {
                    title: '新选项'+ (Math.random()*1000|0) //用于演示
                    ,content: '内容'+ (Math.random()*1000|0)
                    ,id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
                })
            }
            ,tabDelete: function(othis){
                //删除指定Tab项
                element.tabDelete('demo', '44'); //删除：“商品管理”


                othis.addClass('layui-btn-disabled');
            }
            ,tabChange: function(){
                //切换到指定Tab项
                element.tabChange('demo', '22'); //切换到：用户管理
            }
        };

        $('.site-demo-active').on('click', function(){
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });

        //Hash地址的定位
        var layid = location.hash.replace(/^#test=/, '');
        element.tabChange('test', layid);

        element.on('tab(test)', function(elem){
            location.hash = 'test='+ $(this).attr('lay-id');
        });

    });
    //
    $(document).ready(function () {
        $.ajax({
            url:"/api/news",
            data:{"page":1,"limit":6},
            contentType: "application/json;charset=utf-8",
            type:"post",
            success:function (result) {
                console.log(result)
            }

        })
    })
</script>

</body>
</html>
