html {
    background-color: #F2F2F2;
}
.fly-header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #404553;
    border-right: 1px solid #404553;
    border-radius: 0;
}
.fly-nav-user {
    position: absolute;
    top: 0;
    right: 0;
}
.fly-panel {
    margin-bottom: 15px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}
.component .layui-input {
    height: 30px;
    padding-left: 12px;
    background-color: #424652;
    background-color: rgba(255,255,255,.05)!important;
    border: none 0;
    color: #fff;
    font-size: 12px;
}
.label_background{
    background-image: url("/static/images/f0f8f51bd0b6913028884300fba8a3b6.jpg");
    background-repeat:no-repeat;
    background-size: 100% 250px;
}
.grid-demo{
     height: 100px;
     background: #5FB878;
     text-align: center;
     line-height: 72px;
     color: #fff;
    /*-webkit-transform:scale(3) ;*/
    /*-moz-transform: scale(3);*/
    /*-ms-transform: scale(3);*/
    /*-o-transform:scale(3) ;*/
    -webkit-transition: transform 0.5s ease-in,opacity 0.5s ease-in;
    -moz-transition: transform 0.5s ease-in,opacity 0.5s ease-in;
    -ms-transition: transform 0.5s ease-in,opacity 0.5s ease-in;
    -o-transition: transform 0.5s ease-in,opacity 0.5s ease-in;
    transition: transform 0.5s ease-in,opacity 0.5s ease-in;
    cursor:pointer;
 }
.grid-demo-child{
    height: 60px;
    background: #5FB878;
    text-align: center;
    line-height: 72px;
    color: #fff;
}
.grid-demo-1{
    height: 100px;
    background: #FF5722;
    text-align: center;
    line-height: 72px;
    color: #fff;
}
.grid-demo-child-1{
    height: 60px;
    background: #FF5722;
    text-align: center;
    line-height: 72px;
    color: #fff;
}
.grid-demo h2{
    margin-top: -50px;
}
.grid-demo-child a,.grid-demo-child-1 a,.grid-demo-1 h3 a,.grid-demo h3 a{
    color:#fff;
}
.grid-demo-1 h2{
    margin-top: -50px;
}
.h1_class_css_title{
    text-align: center;
    color: #333;
    padding-top: 20px;
    font-weight: bold;
}
.grid-demo,.grid-demo-1,.grid-demo-child-1,.grid-demo-child{
    -webkit-transition: transform 0.5s ease-in,opacity 0.5s ease-in!important;
    -moz-transition: transform 0.5s ease-in,opacity 0.5s ease-in!important;
    -ms-transition: transform 0.5s ease-in,opacity 0.5s ease-in!important;
    -o-transition: transform 0.5s ease-in,opacity 0.5s ease-in!important;
    transition: transform 0.5s ease-in,opacity 0.5s ease-in!important;
    cursor:pointer;
}
.grid-demo:hover,.grid-demo-1:hover,.grid-demo-child-1:hover,.grid-demo-child:hover{
    transform: scale(1.1);
}
/*
最新新闻
*/
.news_title{
    float: left;
    text-align: left;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 18px;
    line-height: 27px;
    max-height: 54px;
    width: 100%;
    color: #333;
    font-weight: 700;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
}
.news_abstract{
    float: left;
    text-align: left;
    max-height: 70px;
    font-size: 14px;
    color: #666;
    line-height: 23px;
    overflow: hidden;
    cursor: pointer;
}
.bottom_refer_and_icon{
    position: absolute;
    left: 16px;
    bottom: 12px;
    width: 100%;
    width: calc(100% - 32px);
    height: 20px;
    overflow: hidden;
}
.left{
    float: left;
}
.right{
    float:right;
}
#news_item_all_style{
    background-color: #fff;overflow: hidden;
    padding: 12px 15px 12px 12px;
    height: 100%;
}
.home-news-item {
    height: 190px;
    background: #fff;
    border: 1px solid #ebebeb;
    overflow: hidden;
    margin-bottom: 12px;
}

.site-demo-flow {
    /*width: 600px;*/
    height: 207px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    margin-bottom: 5px;
    border: 1px solid #ebebeb;
}
.site-demo-flow img {
    height: 100%;
    width: 100%;
    margin: 0 2px 5px 0;
    border: none;
    float: left;
}
/*
最热文章css
*/

.hot-article__title[data-v-5ee82df8] {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    overflow: hidden;
}
.hot-article__title__idx.first[data-v-5ee82df8] {
    background: #f33;
    color: #fff;
    padding-top: 1px;
    margin-left: 3px;
}
.hot-article__title__idx.second[data-v-5ee82df8] {
    background: #ff722b;
    color: #fff;
    padding-top: 1px;
    margin-left: 3px;
}
.hot-article__title__idx.third[data-v-5ee82df8] {
    background: #fa3;
    color: #fff;
    padding-top: 1px;
    margin-left: 3px;
}
.hot-article__title__idx[data-v-5ee82df8] {
    float: left;
    color: #1482f0;
    font-size: 16px;
    border-radius: 2px;
    margin-right: 10px;
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
}
.hot-article__title__text[data-v-5ee82df8] {
    max-width: 567px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}
.hot-article[data-v-5ee82df8] {
    position: relative;
    width: 100%;
    height: 78px;
    border-bottom: 1px solid #ebebeb;
    padding: 16px 0;
}

/*
右侧温馨通道部分css
*/
.fly-panel-title {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    border-bottom: 1px dotted #E9E9E9;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 14px;
}
.fly-panel-main {
    padding: 10px 15px;
}
.fly-list-static li {
    line-height: 26px;
    list-style-position: inside;
    list-style-type: disc;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.fly-list-static li a {
    color: #01AAED;
}
.fly-zanzhu {
    display: block;
    position: relative;
    height: 60px;
    line-height: 60px;
    margin-top: 10px;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    background-color: #009688;
    color: #fff;
}
/*底部样式*/
.fly-footer {
    margin: 50px 0 0;
    padding: 20px 0 30px;
    line-height: 30px;
    text-align: center;
    color: #737573;
    border-top: 1px solid #e2e2e2;
    /*bottom: 0;*/
    /*position: absolute;*/
    width: 100%;
}

/*文章详情页*/
.detail-box{
    padding: 20px;
}
.article_abstract{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #333;
}
.article_comment p{
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .5px;
    margin-bottom: 30px;
    text-align: justify;
}
/*搜索框样式*/
.position{
    position:absolute;
}
.search{
    float: right;
    margin-top: -49px;
    color: red;
    margin-right: 5px;
}
.search:hover{
    cursor:pointer;
}
.left_fixed{
    position: fixed;
    z-index: 9999;
    left: 2%;
    top: 48%;
    width: 39px;
    overflow: visible;
    clear: both;
}
.left_fixed li{
    background-color: #fff;
    width: 35px;
    height: 39px;
    margin-bottom: 17px;
    padding-left: 13px;
    padding-top: 18px;
}
.previous_next a:hover{
    color: #5FB878;
}
.previous_next a{
    color:#01AAED;
}
.layui-layer-title{
    text-align: center!important;
}
/*登陆*/
#login_modle{
    margin-top: 12px;
    margin-right: 28px;
    display: none;
}